.cache
.clang-format
.direnv
.DS_Store
.gitignore
.idea
.pio
.pioenvs
.piolibdeps
.vscode

esp01-update.sh
platformio_override.ini
replace_fs.py
wled-update.sh

/build_output/
/node_modules/

/wled00/extLibs
/wled00/LittleFS
/wled00/my_config.h
/build_output
.DS_Store
.gitignore
.clang-format
node_modules
.idea
.direnv
wled-update.sh
esp01-update.sh
/wled00/LittleFS
replace_fs.py
wled00/wled00.ino.cpp
